/*Put this into your theeme and comment the css enqueue line in the plugin for better optimization*//*code*/	
/* The css is taken from bp-default theme, thanks to @apeatling, I have just modified the selectors*/
#eventname_checker span.loading {
	background-image: url( ajax-loader.gif );
	background-position: 92% 50%;
	background-repeat: no-repeat;
	padding-right: 30px !important;
			}	
#eventname_checker  span.available,#eventname_checker span.error{
	display:none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 10px 0;
	width: 90%;
	padding: 6px;
	border-color: #ffff33;
}
#eventname_checker span.available{
	display:block;
	color: #1a9b00;
	background: #dffcd9;
}

#eventname_checker span.error{
display:block;
color: #cc6600;
	background: #ffcc33;
	
}
			